<a href="https://colab.research.google.com/github/Saron773/Winter-2022/blob/main/Day3_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for x in 'CUNY'
print(x)

In [6]:
TV_Shows = ['GOT', 'Star Trek', 'Stranger Things']
for i in TV_Shows:
  print(i)

GOT
Star Trek
Stranger Things

In [16]:
Entree = []

In [18]:
Entree.append('Salmon')
Entree.append('Steak')
Entree.append('Burger')
Entree.append('Pasta')
Entree.append('Pizza')
Entree.append('Chicken')

In [20]:
for i in Entree:
  print('My favorite meal is '+ i.upper())

My favorite meal is SALMON
My favorite meal is STEAK
My favorite meal is BURGER
My favorite meal is PASTA
My favorite meal is PIZZA
My favorite meal is SALMON
My favorite meal is STEAK
My favorite meal is BURGER
My favorite meal is PASTA
My favorite meal is PIZZA
My favorite meal is CHICKEN

In [21]:
for i in Entree:
  print('My favorite meal is '+ i.upper())

My favorite meal is SALMON
My favorite meal is STEAK
My favorite meal is BURGER
My favorite meal is PASTA
My favorite meal is PIZZA
My favorite meal is SALMON
My favorite meal is STEAK
My favorite meal is BURGER
My favorite meal is PASTA
My favorite meal is PIZZA
My favorite meal is CHICKEN

In [27]:
for x in range(1,5):
  print(x+1)

2
3
4
5

In [31]:
for x in range(1,5,1):
  print(x)

1
2
3
4

In [34]:
l = [2,4,6,7,9,10,11,13,15,17,19]

In [35]:
for x in l:
  if x%2!=0:
    print(x)
  else:
      print(x, 'This is not an odd number')

2 This is not an odd number
4 This is not an odd number
6 This is not an odd number
7
9
10 This is not an odd number
11
13
15
17
19

In [36]:
for letter in 'This is a string':
  print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [37]:
l2 = [12, 45, 6, 3, 45, 678, 2, 45657]
listSum = 0

for num in l2:
  listSum = listSum + num

print(listSum)

46448

In [39]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4':4}

In [40]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [41]:
for a,b in dy.items():
  print(a)
  print(b)

k1
1
k2
2
k3
3
k4
4