<a href="https://colab.research.google.com/github/Saron773/Winter-2022/blob/main/Fifa_Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#in class assignment
##find a sports database
##after doing EDA for initial data set:
##1. change at least 2 column names and complete at least one broadcast operation 
##       (make sure to make a copy of the new version of the dataset once in a while)
##answer questions:
#1: who are the highest paid players in the sport
#2: who is the most efficient player in the sport
#3: which is the better team in that sport
#comme up with 5 more questions and answers

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/redun1/ML_Data/main/data.csv')

In [ ]:
df.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [ ]:
df.dtypes

Unnamed: 0          int64
ID                  int64
Name               object
Age                 int64
Photo              object
                   ...
GKHandling        float64
GKKicking         float64
GKPositioning     float64
GKReflexes        float64
Release Clause     object
Length: 89, dtype: object

In [ ]:
#added a column at the end using the data from id
df['Player ID'] = df['ID']

In [ ]:
df.head()

   Unnamed: 0      ID               Name  ...  GKReflexes Release Clause Player ID
0           0  158023           L. Messi  ...         8.0        €226.5M    158023
1           1   20801  Cristiano Ronaldo  ...        11.0        €127.1M     20801
2           2  190871          Neymar Jr  ...        11.0        €228.1M    190871
3           3  193080             De Gea  ...        94.0        €138.6M    193080
4           4  192985       K. De Bruyne  ...        13.0        €196.4M    192985

[5 rows x 90 columns]

In [ ]:
df.rename(columns={"ID":"Player ID"}) #changes col name

       Unnamed: 0  Player ID  ... Release Clause  Player ID
0               0     158023  ...        €226.5M     158023
1               1      20801  ...        €127.1M      20801
2               2     190871  ...        €228.1M     190871
3               3     193080  ...        €138.6M     193080
4               4     192985  ...        €196.4M     192985
...           ...        ...  ...            ...        ...
18202       18202     238813  ...          €143K     238813
18203       18203     243165  ...          €113K     243165
18204       18204     241638  ...          €165K     241638
18205       18205     246268  ...          €143K     246268
18206       18206     246269  ...          €165K     246269

[18207 rows x 90 columns]

In [ ]:
#isolated the columsn we wanted from the original dataset
fifa = df[['ID','Name','Age','Nationality','Overall','Club','Wage','Preferred Foot','Height','Weight']]

In [ ]:
fifa

           ID                Name  Age  ... Preferred Foot  Height  Weight
0      158023            L. Messi   31  ...           Left     5'7  159lbs
1       20801   Cristiano Ronaldo   33  ...          Right     6'2  183lbs
2      190871           Neymar Jr   26  ...          Right     5'9  150lbs
3      193080              De Gea   27  ...          Right     6'4  168lbs
4      192985        K. De Bruyne   27  ...          Right    5'11  154lbs
...       ...                 ...  ...  ...            ...     ...     ...
18202  238813        J. Lundstram   19  ...          Right     5'9  134lbs
18203  243165  N. Christoffersson   19  ...          Right     6'3  170lbs
18204  241638           B. Worman   16  ...          Right     5'8  148lbs
18205  246268      D. Walker-Rice   17  ...          Right    5'10  154lbs
18206  246269           G. Nugent   16  ...          Right    5'10  176lbs

[18207 rows x 10 columns]

In [ ]:
fifa.rename(columns={"ID":"Player ID"}, inplace=True) #rename a col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
fifa.rename(columns={"Height":"Height in Feet"}, inplace=True) #rename a col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
fifa

       Player ID                Name  Age  ... Preferred Foot  Height in Feet  Weight
0         158023            L. Messi   31  ...           Left             5'7  159lbs
1          20801   Cristiano Ronaldo   33  ...          Right             6'2  183lbs
2         190871           Neymar Jr   26  ...          Right             5'9  150lbs
3         193080              De Gea   27  ...          Right             6'4  168lbs
4         192985        K. De Bruyne   27  ...          Right            5'11  154lbs
...          ...                 ...  ...  ...            ...             ...     ...
18202     238813        J. Lundstram   19  ...          Right             5'9  134lbs
18203     243165  N. Christoffersson   19  ...          Right             6'3  170lbs
18204     241638           B. Worman   16  ...          Right             5'8  148lbs
18205     246268      D. Walker-Rice   17  ...          Right            5'10  154lbs
18206     246269           G. Nugent   16  ...          Right            5'10  176lbs

[18207 rows x 10 columns]

In [ ]:
fifa['Weight in Kg']=fifa['Weight'].str.strip("lbs")  #remove unnec. label at end of col

#fifa['Weight'].str.strip("lbs")
#int(fifa['Weight'].str.strip("lbs"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fifa

       Player ID                Name  Age  ... Height in Feet  Weight Weight in Kg
0         158023            L. Messi   31  ...            5'7  159lbs          159
1          20801   Cristiano Ronaldo   33  ...            6'2  183lbs          183
2         190871           Neymar Jr   26  ...            5'9  150lbs          150
3         193080              De Gea   27  ...            6'4  168lbs          168
4         192985        K. De Bruyne   27  ...           5'11  154lbs          154
...          ...                 ...  ...  ...            ...     ...          ...
18202     238813        J. Lundstram   19  ...            5'9  134lbs          134
18203     243165  N. Christoffersson   19  ...            6'3  170lbs          170
18204     241638           B. Worman   16  ...            5'8  148lbs          148
18205     246268      D. Walker-Rice   17  ...           5'10  154lbs          154
18206     246269           G. Nugent   16  ...           5'10  176lbs          176

[18207 rows x 11 columns]

In [ ]:
fifa['Weight in Kg'] = pd.to_numeric(fifa['Weight in Kg']).mul(0.453592).round(2)  #convert col to a number to be able to broadcast

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fifa

       Player ID                Name  Age  ... Height in Feet  Weight Weight in Kg
0         158023            L. Messi   31  ...            5'7  159lbs        72.12
1          20801   Cristiano Ronaldo   33  ...            6'2  183lbs        83.01
2         190871           Neymar Jr   26  ...            5'9  150lbs        68.04
3         193080              De Gea   27  ...            6'4  168lbs        76.20
4         192985        K. De Bruyne   27  ...           5'11  154lbs        69.85
...          ...                 ...  ...  ...            ...     ...          ...
18202     238813        J. Lundstram   19  ...            5'9  134lbs        60.78
18203     243165  N. Christoffersson   19  ...            6'3  170lbs        77.11
18204     241638           B. Worman   16  ...            5'8  148lbs        67.13
18205     246268      D. Walker-Rice   17  ...           5'10  154lbs        69.85
18206     246269           G. Nugent   16  ...           5'10  176lbs        79.83

[18207 rows x 11 columns]

In [ ]:
#made a copy of the dataframe
fifa2=fifa.copy()

In [ ]:
fifa2['Wage']=fifa2['Wage'].str.strip("K")

In [ ]:
fifa2['Wage']=fifa2['Wage'].str.strip("€")

In [ ]:
fifa2

       Player ID                Name  Age  ... Height in Feet  Weight Weight in Kg
0         158023            L. Messi   31  ...            5'7  159lbs        72.12
1          20801   Cristiano Ronaldo   33  ...            6'2  183lbs        83.01
2         190871           Neymar Jr   26  ...            5'9  150lbs        68.04
3         193080              De Gea   27  ...            6'4  168lbs        76.20
4         192985        K. De Bruyne   27  ...           5'11  154lbs        69.85
...          ...                 ...  ...  ...            ...     ...          ...
18202     238813        J. Lundstram   19  ...            5'9  134lbs        60.78
18203     243165  N. Christoffersson   19  ...            6'3  170lbs        77.11
18204     241638           B. Worman   16  ...            5'8  148lbs        67.13
18205     246268      D. Walker-Rice   17  ...           5'10  154lbs        69.85
18206     246269           G. Nugent   16  ...           5'10  176lbs        79.83

[18207 rows x 11 columns]

In [ ]:
fifa2['Wage in Thousands of Pounds'] = pd.to_numeric(fifa2['Wage'])

In [ ]:
fifa2.drop(['Wage'],axis=1, inplace=True)

In [ ]:
fifa2

       Player ID                Name  ...  Weight in Kg Wage in Thousands of Pounds
0         158023            L. Messi  ...         72.12                         565
1          20801   Cristiano Ronaldo  ...         83.01                         405
2         190871           Neymar Jr  ...         68.04                         290
3         193080              De Gea  ...         76.20                         260
4         192985        K. De Bruyne  ...         69.85                         355
...          ...                 ...  ...           ...                         ...
18202     238813        J. Lundstram  ...         60.78                           1
18203     243165  N. Christoffersson  ...         77.11                           1
18204     241638           B. Worman  ...         67.13                           1
18205     246268      D. Walker-Rice  ...         69.85                           1
18206     246269           G. Nugent  ...         79.83                           1

[18207 rows x 11 columns]

In [ ]:
#the 5 players with the highest salaries are:

#fifa2[['Wage in Thousands of Pounds']].sort()

fifa2.nlargest(5,['Wage in Thousands of Pounds'])

   Player ID               Name  ...  Weight in Kg Wage in Thousands of Pounds
0     158023           L. Messi  ...         72.12                         565
7     176580          L. Suárez  ...         86.18                         455
6     177003          L. Modrić  ...         66.22                         420
1      20801  Cristiano Ronaldo  ...         83.01                         405
8     155862       Sergio Ramos  ...         82.10                         380

[5 rows x 11 columns]